   *{
        box-sizing: border-box; /*when a box is given a width, if we add padding or border apply it within the given width not in addition to it.*/
        padding:0;
        margin:0;
        max-width:100%; /*this helps us when we get to responsive design. You can never be bigger than your parent. It helps with images that like to break outside of their wrappers*/
        border:1px solid grey;
    }
    
    html{ /*with rems everything is based off of this font-size set on the HTML*/
        font-size:62.5%; /*this means that 1 rem === 10px */
    }

.button1,.button2,.button3{
    display:inline-block; /*this is the only time I use inline-block in the real world*/
    width:20%;
    text-align:center;
    padding:2% 4%;
    border-radius:10px; /*its okay to use px for something this small*/
    background-color:#fcb131;
    color:#fff;
    transition:2s;
    border:3px solid #fcb131;
}
.button1:hover,.button2:hover,.button3:hover{
    background-color:#fff;
    color: #fcb131;
}