   *{
        box-sizing: border-box; /*when a box is given a width, if we add padding or border apply it within the given width not in addition to it.*/
        padding:0;
        margin:0;
        max-width:100%; /*this helps us when we get to responsive design. You can never be bigger than your parent. It helps with images that like to break outside of their wrappers*/
        border:1px solid grey;
    }
    
    html{ /*with rems everything is based off of this font-size set on the HTML*/
        font-size:62.5%; /*this means that 1 rem === 10px */
    }

.button1{
    display:inline-block; /*this is the only time I use inline-block in the real world*/
    width:15%;
    text-align:center;
    padding:1% 3%;
    border-radius:10px; /*its okay to use px for something this small*/
    background-color:#FF764E;
    color:#fff;
    transition:2s;
    border:3px solid #FF764E;
}
.button2{
    display:inline-block; /*this is the only time I use inline-block in the real world*/
    width:15%;
    text-align:center;
    padding:1% 3%;
    border-radius:10px; /*its okay to use px for something this small*/
    background-color:#5ED3EB;
    color:#fff;
    transition:2s;
    border:3px solid #5ED3EB;
}
.button3{
    display:inline-block; /*this is the only time I use inline-block in the real world*/
    width:15%;
    text-align:center;
    padding:1% 3%;
    border-radius:10px; /*its okay to use px for something this small*/
    background-color:#FFCD69;
    color:#fff;
    transition:2s;
    border:3px solid #FFCD69;
}
.button1:hover{
    background-color:#fff;
    color: #FF764E;
}

.button2:hover{
    background-color:#fff;
    color: #5ED3EB;
}
.button3:hover{
    background-color:#fff;
    color: #FFCD69;
}